<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let car of cars">
    <div class="card">
      <img
        [src]=getImageSource(car)
        class="card-img-top"
        alt="Image"
      />
      <div class="card-body">
        <h5 class="card-title">{{car.carName}}</h5>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">{{car.brandName}}</li>
    <li class="list-group-item">{{car.colorName}}</li>
    <li class="list-group-item">{{car.modelYear}}</li>
  </ul>
      </div>
      <button type="button" (click)="addToCart(car)" class="btn btn-outline-success" routerLink="/cars/rental/{{car.carId}}">Aracı Kirala</button>
    </div>
  </div>
</div>