<table >
    <thead>
      <tr>
        <th>Id</th>
        <th>CarName</th>
        <th>CustomerName</th>
        <th>RentDate</th>
        <th>ReturnDate</th>
      </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.rentalId }}</td>
      <td>{{ rental.carName }}</td>
      <td>{{ rental.customerName }}</td>
      <td>{{ rental.rentDate }}</td>
      <td>{{ rental.returnDate }}</td>
    </tr>
  </table>
  Kiralama Tarihi: <input [(ngModel)]="rentDate"  type="date" class="form-control" id="rentDate" (change)="onChangeEvent($event); checkReturnDate()" min="{{minDate}}"><br>
  Dönüş Tarihi: <input [(ngModel)]="returnDate"  type="date" class="form-control" id="returnDate"min="{{minDate}}"><br>
  <button type="button" (click)="createNewRental()" class="btn btn-outline-success" >Ödeme Yap</button>