<table >
    <thead>
      <tr>
        <th>Id</th>
        <th>CarName</th>
        <th>RentDate</th>
        <th>ReturnDate</th>
        <th>Toplam</th>
      </tr>
    </thead>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.car.carId}}</td>
      <td>{{item.car.carName}}</td>
      <td>{{ rentDate }}</td>
      <td>{{ returnDate }}</td>
      <td>{{totalAmount(item.car)}}</td>
    </tr>
  </table>
  Kiralama Tarihi: <input [(ngModel)]="rentDate"  type="date" class="form-control" id="rentDate" (change)="onChangeEvent($event); checkReturnDate()" min="{{minDate}}"><br>
  Dönüş Tarihi: <input [(ngModel)]="returnDate"  type="date" class="form-control" id="returnDate"min="{{minDate}}"><br>
  <button type="button" (click)="createNewRental()" class="btn btn-outline-success" >Ödeme Yap</button>