<div class="container">
  <header>
    <img class="logo" src="././assets/db3e383d6e054acd9d65b430dbe427ac.png" alt="logo">
    <app-navi></app-navi>
    <a class="cta" href="#"><button class="btn btn-outline-success">Üye Girişi</button></a>
  <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Ara</button>
  </form>
  </header>
  <div><br></div>
  <div class="row">
    <div class="col-md-5">
      <app-brand></app-brand><br>
      <app-color></app-color><br>
      <app-customer></app-customer>
      <app-car-image></app-car-image>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet><br>
      <app-rental></app-rental>
    </div>
  </div>
  
  
</div>