<div class="container">
  <header>
    <img class="logo" src="././assets/db3e383d6e054acd9d65b430dbe427ac.png" alt="logo">
    <app-navi></app-navi>
    <a class="cta" href="#"><button class="btn btn-outline-success">Üye Girişi</button></a>
  <form class="d-flex">
  <input type="text" [(ngModel)]="searchText" class="form-control" id="searchText" placeholder="search" >
  <button class="btn btn-outline-success" type="submit">Ara</button>
  </form>
  <div>{{searchText}} aradınız.</div>
  </header>
  <div><br></div>
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand><br>
      <app-color></app-color><br>
      
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet><br>
    </div>
  </div>
  
  
</div>