<div class="row">
  <div class="col-md-4">
    <select [(ngModel)]="brandFilter" class="form-select" aria-placeholder="Marka Seçiniz" style="background-color: lightgray; box-shadow: darkgray;">
      <option value=0>Marka Seç</option>
      <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">
        {{brand.brandName}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <select [(ngModel)]="colorFilter" class="form-select" aria-placeholder="Renk Seçiniz" style="background-color: lightgray; box-shadow: darkgray;">
      <option value=0>Renk Seç</option>
      <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">
        {{color.colorName}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <button routerLink="/cars/brand/{{brandFilter}}/color/{{colorFilter}}" style="width: 100%;" type="button"
      class="btn btn-warning">
      Filtrele
    </button>
  </div>
</div><br>
<table >
  <thead>
    <tr>
      <th>Araç No</th>
      <th>İsim</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model</th>
      <th>Günlük Ücret</th>
      <th>Açıklama</th>
      <th></th>
    </tr>
  </thead>
  <tr (click)="setCurrentCar(car)" 
  routerLink="/cars/car/{{car.carId}}"
        *ngFor="let car of cars  " >
    <td>{{ car.carId }}</td>
    <td>{{ car.carName |uppercase }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice |currency }}</td>
    <td>{{ car.description }}</td>
    <td>
    <button type="button" class="btn btn-outline-success" routerLink="/cars/car-images/{{car.carId}}">Araç Detay</button>
  </td>
  </tr>
</table>
