<div class="mb-3">
  <label for="filterText" class="form-label">Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" >
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız</div>
<table >
  <thead>
    <tr>
      <th>Araç No</th>
      <th>İsim</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model</th>
      <th>Günlük Ücret</th>
      <th>Açıklama</th>
      <th></th>
    </tr>
  </thead>
  <tr (click)="setCurrentCar(car)" 
  routerLink="/cars/car/{{car.carId}}"
        *ngFor="let car of cars | filterPipe:filterText" >
    <td>{{ car.carId }}</td>
    <td>{{ car.carName |uppercase }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice |currency }}</td>
    <td>{{ car.description }}</td>
    <td>
    <button type="button" class="btn btn-outline-success" routerLink="/cars/car-images/{{car.carId}}">Araç Detay</button>
  </td>
  </tr>
</table>
