<table >
  <thead>
    <tr>
      <th>Araç No</th>
      <th>İsim</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model</th>
      <th>Günlük Ücret</th>
      <th>Açıklama</th>
      <th></th>
    </tr>
  </thead>
  <tr (click)="setCurrentCar(car)" 
  routerLink="/cars/car/{{car.carId}}"
        *ngFor="let car of cars">
    <td>{{ car.carId }}</td>
    <td>{{ car.carName }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.description }}</td>
    <td>
    <button type="button" class="btn btn-outline-success" routerLink="/cars/car-images/{{car.carId}}">Araç Detay</button>
  </td>
  </tr>
</table>
